.login {
    background-color: black;
    display: grid;
    height: 100vh;
    place-items: center;

}

.login > img {
    width: 100%;
}

.login > a {

    background-color: #1bd954;
    border-radius: 99px;
    color: white;
    font-weight: 800;
    padding : 20px;
    text-decoration: none ;
}