.sidebar {
    /* border : 1px solid black; */
    height: 100vh;
    flex:0.1;
    flex-direction: column;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 230px;
    height: 100vh;
    background-color: #040404;
}

.sidebar__logo{
    /* it keeps the size of the images, it protects the aspect of the image */    
    /* object-fit: contain;  */
    margin-right:auto;
    height: 70px;
    /* width: 100px; */
    padding: 10px;
}

.sidebar__title {
    margin-left: 20px;
    font-size: 12px;
    font-size: 12px;
    font-weight: 800;
    line-height: 16px;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: #B3B3B3;
    
}

.icons{
    margin-left: 20px;
}